# Virtual environments
.venv/
env/
__pycache__/
rasa-env/

# Rasa Models (these can be regenerated)
models/

# Logs
*.log

# Cache
*.dylib
*.so
*.pyc
*.pyo
*.pyd
__pycache__/
.cache/

# VSCode
.vscode/

# Python egg info
*.egg-info/

# System files
.DS_Store

#Python 
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
rasa-env/
